@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
.title {
  margin-top: 10Px;
  text-align: center;
  .at-article__h2 {
    text-align: center;
    margin: 0;
  }
}

//apply-content > at-form > at-input > .at-input {
//  padding: 4Px 0;
//}

.tab-card {
  margin-top: 10Px;
  .at-card__header {
    padding: 5Px 5Px;
  }
  .at-card__content {
    padding: 10Px 10Px;
  }
}
.input1, .input2{
  padding: 3Px 0;
  color: #000000;
}
.submit-button {
  margin: 20Px 20Px 40Px;
}
